/**
 * @file
 * Eyes-catching Candy Styling
 */


/**
 * Special image mapping
 */
ul.links li.blog_usernames_blog {
  background: url(../images/user.png) left center no-repeat; /* LTR */
  padding-left: 18px; /* LTR */
}

ul.links li.book_add_child {
  background: url(../images/report-add.png) left center no-repeat; /* LTR */
  padding-left: 18px; /* LTR */
}

ul.links li.comment-comments,
ul.links li.comment_forbidden {
  background: url(../images/comment.png) left center no-repeat; /* LTR */
  padding-left: 18px; /* LTR */
}

ul.links li.comment-add,
ul.links li.comment-new_comments,
ul.links li.comment-reply {
  background: url(../images/comment-add.png) left center no-repeat; /* LTR */
  padding-left: 18px; /* LTR */
}

ul.links li.comment-delete {
  background: url(../images/comment-delete.png) left center no-repeat; /* LTR */
  padding-left: 18px; /* LTR */
}

ul.links li.comment-edit {
  background: url(../images/comment-edit.png) left center no-repeat; /* LTR */
  padding-left: 18px; /* LTR */
}

ul.links li.node-readmore {
  background: url(../images/article.png) left center no-repeat; /* LTR */
  padding-left: 18px; /* LTR */
}

ul.links li.upload_attachments {
  background: url(../images/briefcase.png) left center no-repeat; /* LTR */
  padding-left: 18px; /* LTR */
}

ul.links li.statistics_counter {
  background: url(../images/graph-bar.png) left center no-repeat; /* LTR */
  padding-left: 18px; /* LTR */
}

ul.links li.book_printer,
ul.links li.print_html {
  background: url(../images/printer.png) left center no-repeat; /* LTR */
  margin-left: 0;
  padding-left: 18px; /* LTR */
}

ul.links li.print_mail {
  background: url(../images/mail-closed-send.png) left center no-repeat; /* LTR */
  margin-left: 0;
  padding-left: 18px; /* LTR */
}

ul.links li.print_pdf {
  background: url(../images/file-pdf.png) left center no-repeat; /* LTR */
  margin-left: 0;
  padding-left: 18px; /* LTR */
}

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}

#aggregator .feed-item-title {
  font-size: 160%;
  line-height: 130%;
}

#aggregator .feed-item {
  border-bottom: 1px solid #ccc;
  margin: -1.5em 0 1.75em;
  padding: 1.5em 0;
}

#aggregator .feed-item-categories {
  font-size: .92em;
}

#aggregator .feed-item-meta {
  font-size: .92em;
  color: #ccc;
}

/**
 * Menu.module
 */
tr.menu-disabled {
  opacity: 0.5;
}

/**
 * Tagadelic.module
 */
a.tagadelic:link {
  color: #25771f;
}

a.tagadelic:visited {
  color: #123b0f;
}

a.tagadelic:hover {
  background: #e7fee5;
  color: #007898;
}

/**
 * Vertical tab module
 */
div.vertical-tabs ul.vertical-tabs-list li {
  list-style-image: none;
}
