/**
 * @file
 * Comment Styling
 */


#comments /* Wrapper for the list of comments and its title */ {
  margin: 1em 0;
}

#comments h2.title /* Heading for the list of comments */ {
}

#comments h2.comment-form /* Heading for the comment form */ {
}

.comment /* Wrapper for a single comment */ {
  border: 1px solid #ccc;
  margin: 1em 0 0;
  padding: .5em;
}

.comment-preview /* Preview of the comment before submitting new or updated comment */ {
}

.comment.new /* A new comment since the user last viewed the page. */ {
}

.comment.first /* The first comment in the list of comments */ {
}

.comment.last /* The last comment in the list of comments */ {
}

.comment.odd /* An odd-numbered comment in the list of comments */ {
}

.comment.even /* An even-numbered comment in the list of comments */ {
}

.comment-unpublished /* Unpublished comments */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. See also the div.unpublished declaration in the nodes.css. */ {
}

.comment-by-anonymous /* A comment created by an anonymous user */ {
}

.comment-by-node-author /* A comment created by the node's author */ {
}

.comment-by-viewer /* A comment created by the current user */ {
}

.comment h3.comment-title /* Comment title */ {
  background: url(../images/node-h2-title.png) repeat-x bottom;
  border: none;
  color: #121212;
  display: inline;
  font-family: "Trebuchet MS", Arial;
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1.5em;
}
.comment h3.comment-title a,
.comment h3.comment-title a:hover {
  border: none;
  color: #121212;
  font-weight: normal;
}

.new /* "New" marker for comments that are new for the current user */ {
  color: #c00;
}

.comment .user-picture /* The picture of the comment author */ {
  border: none;
  float: right; /* LTR */
  margin: 0 0 .5em .5em; /* LTR */
}

.comment .submitted /* The "posted by" information */ {
  background: url(../images/calendar.png) left center no-repeat; /* LTR */
  font-size: 1em;
  padding-left: 18px; /* LTR */
}

.comment .content /* Comment's content wrapper */ {
  margin: .6em 0;
}

.comment .user-signature /* The user's signature */ {
}

.comment ul.links /* Comment links. See also the ul.links declaration in the pages.css. */ {
  color: #aaa;
  float: right;
  line-height: 20px;
}

.indented /* Nested comments are indented */ {
  /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}

.preview .comment /* Preview of the comment before submitting new or updated comment */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}
