/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body {
}

#page-wrapper,
.region-bottom {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  min-width: 960px;
}

#page {
}

#header .section,
#navigation,
#featured .section,
#main,
#triptych-wrapper,
#footer-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#navigation .section,
#featured .section {
  min-width: 920px;
  width: 940px;
}

/*
 * Header
 */
#header {
  min-height: 92px;
}

#header .section {
  position: relative;
}

#search-box {
}

.region-header {
  float: right;
  margin: 10px;
}

/*
 * Featured
 */
#featured {
  padding: 12px 0;
}

#featured .section {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
  padding-top: 24px;
}

#main {
}

/*
 * Content
 */
#content,
.no-sidebars #content {
  float: left; /* LTR */
  width: 960px;
  margin-left: 0; /* LTR */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

.sidebar-first #content {
  width: 710px;
  margin-left: 250px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.sidebar-second #content {
  width: 710px;
  margin-left: 0; /* LTR */
  margin-right: -710px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
  width: 460px;
  margin-left: 250px; /* LTR */ /* The width of .region-sidebar-first */
  margin-right: -710px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#content .section {
  margin: 0 10px;
  padding: 0;
}

/*
 * Navigation
 */
#navigation {
  clear: both;
  float: left;
  height: 46px;
  margin-top: 10px;
  padding: 0;
  width: 100%;
}

#navigation .section {
}


/*
 * First sidebar
 */
.region-sidebar-first {
  float: left; /* LTR */
  width: 250px;
  margin-left: 0; /* LTR */
  margin-right: -250px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0 10px;
  padding: 0;
}

.region-sidebar-first .block .content {
  padding: 0 .5em;
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  float: left; /* LTR */
  width: 250px;
  margin-left: 710px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.region-sidebar-second .section {
  margin: 0 10px;
  padding: 0;
}

.region-sidebar-second .block .content {
  padding: 0 .5em;
}

/*
 * Triptych
 */
#triptych {
  margin-top: 10px;
  padding: 10px 0;
}

#triptych .section {
  margin: 10px;
}

#triptych .region-triptych-first,
#triptych .region-triptych-middle,
#triptych .region-triptych-last {
  width: 33.3%;
  float: left;
}

/*
 * Footer
 */
#footer {
}

#footer .section {
  margin: 10px;
}

#footer-columns .region-footer-firstcolumn,
#footer-columns .region-footer-secondcolumn,
#footer-columns .region-footer-thirdcolumn,
#footer-columns .region-footer-fourthcolumn {
  width: 25%;
  float: left;
}

/*
 * Page bottom
 */
.region-bottom /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-bottom {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/
