/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
  float: right;
  list-style: none;
  margin: 46px 0 0;
  padding: 0;
  text-align: center;
  vertical-align: text-bottom;
}

#main-menu li {
  background: none;
  float: left; /* LTR */
  font-size: 1em;
  height: 46px;
  line-height: 46px;
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

#main-menu li a {
  border: none;
  color: #768998;
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 0 12px;
  text-decoration: none;
}

#main-menu li a:first-letter {
  border-bottom: 1px dotted #4b5761;
  padding: 0 0 3px;
}

#main-menu li a:hover,
#main-menu li a:active,
#main-menu li a.active {
  background: url(../images/main-menu-li-a-hover.png) no-repeat bottom center;
  color: #fff;
}

#secondary-menu {
  position: absolute;
  right: 10px;
  top: 0;
}

#secondary-menu li {
  background: none;
  float: left; /* LTR */
  font-size: 1em;
  list-style: none;
  margin: 0 2px;
  padding: 0 10px 0 0; /* LTR */
}

#secondary-menu li a {
  border: none;
  color: #768998;
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 0 12px;
  text-decoration: none;
}

#secondary-menu li a:first-letter {
  border-bottom: 1px dotted #4b5761;
  padding: 0 0 3px;
}

#secondary-menu li a:hover,
#secondary-menu li a:active,
#secondary-menu li a.active {
  color: #fff;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu-block {
}
