/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node /* Node wrapper */ {
  margin-bottom: 2.5em;
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 2em;
  padding: 1em;
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page /* Page content node */ {
}

.node-article /* Article content node */ {
}

h2.node-title /* Node title */ {
  background: url(../images/node-h2-title.png) repeat-x bottom;
  border: none;
  color: #121212;
  display: inline;
  font-family: "Trebuchet MS", Arial;
  font-size: 1.9em;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1.5em;
}

h2.node-title a,
h2.node-title a:hover {
  border: none;
  color: #121212;
  font-weight: normal;
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #c00;
}

.node .user-picture /* The picture of the node author */ {
  border: none;
  float: right; /* LTR */
  margin: 0 0 .5em .5em; /* LTR */
}

.node.node-unpublished .user-picture,
.comment.comment-unpublished .user-picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .submitted /* The "posted by" information */ {
  background: url(../images/calendar.png) left center no-repeat; /* LTR */
  color: #aaa;
  font-size: 1em;
  line-height: 20px;
  padding-left: 18px; /* LTR */
}

.node .content /* Node's content wrapper */ {
  margin: .6em 0;
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
  color: #aaa;
  float: right;
  font-size: .9em;
  line-height: 20px;
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}
