/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
#header {
  color: #768998;
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 20px 0 0 10px;
  padding: 0;
}

#logo:hover,
#logo:focus {
  border-bottom: none;
  padding-bottom: 0px;
}

#logo img {
  margin: 0;
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
  margin: 20px 0 0 10px;
  padding: 0;
}

h1#site-name,
div#site-name /* The name of the website */ {
  font-size: 1.81em;
  letter-spacing: 1px;
  line-height: 1.2em;
  margin: 0 0 5px;
  padding: 0;
}

#site-name a:link,
#site-name a:visited {
  border-bottom: 1px dotted #ccc;
  color: #fff;
  padding: 0;
}

#site-name a:hover,
#site-name a:focus {
  border-bottom: 1px solid #ccc;
  color: #fffcb3;
  padding: 0;
}

#site-slogan /* The slogan (or tagline) of a website */ {
  font-size: .9em;
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

#mission /* The mission statement of the site (displayed on homepage) */ {
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title /* The title of the page */ {
  background: url(../images/node-h2-title.png) repeat-x bottom;
  border: none;
  color: #121212;
  display: inline;
  font-family: "Trebuchet MS", Arial;
  font-size: 1.9em;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1.5em;
}

h1.title a,
h1.title a:hover {
  border: none;
  color: #121212;
  font-weight: normal;
}

h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
  background-color: #fff;
}

tr.even td.active {
  background-color: #e6f1f7;
}

tr.odd {
  background-color: #f5f5f5;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

a.tabledrag-handle:hover {
  border: none;
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}


/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
  font-size: .9em;
}

.region-sidebar-first .section {
}


/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
  font-size: .9em;
}

.region-sidebar-second .section {
}

/*
 * Triptych
 */
#triptych {
  border-top: 1px solid #ccc;
  color: #808080;
  font-size: .9em;
  line-height: 2.5em;
}

/*
 * Footer
 */
#footer {
  border-top: 1px solid #ccc;
  color: #808080;
  line-height: 2.5em;
  font-size: .9em;
}

#footer .section {
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */ {
}

.region-footer {
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}
