/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
}

#page-wrapper {
}

#page {
}

#header {
  background: #18324b url(../images/header.png) repeat-x top left;
}

#header .section {
}

#featured {
  background: #000 url(../images/featured.png) top left;
}

#main-wrapper {
  background: #fff url(../images/main-wrapper.png) repeat-x top left;
}

#main {
}

#footer {
}

#footer .section {
}
